.App {
  padding: 20px;
}

.product-container {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 20px;
  justify-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.filters {
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: auto;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
}

.viewButton {
  margin-top: 5px;
}

.player-header {
  height: 55px;
  background-color: #024f9d;
  color: white;
}

.player-button {
  position: relative;
  color: white;
  justify-content: center;
  border: 1px solid white;
  width: 40px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: 1%;
}

.detailsBox {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.age-info {
  display: flex;
  align-items: center; 
  font-weight: 600;

}
.age-info2{
  font-weight: 200;

}
.age-info3{
 float: left;

}

/* .age-info1 {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 800;
} */
.age-info1 {
  display: flex;
  align-items: center;
  font-size: 25px;
  width: 250px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.age-info5 {
  max-width: 70%;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

/*@media screen and (max-width: 480px) {

  .age-info5 {
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
}


@media screen and (min-width:481px) and  (max-width : 768px) {

  .age-info5 {
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
}

@media screen and (min-width:769px) and  (max-width : 992px) {

  .age-info5 {
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
}


@media screen and (min-width:993px) and  (max-width : 1000px) {

  .age-info5 {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
} */
.age-info > * {
  margin-right: 10px; /* Add some spacing between the Text elements */
}
.player-header {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.player-header h1 {
  text-align: center; 
  margin-left: 5%;

}
.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0; /* Remove the gap between columns */
}

img {
  max-width: 100%;
  max-height: 100%;
}

.text {
  font-size: 18px;
  margin-left: 0;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; 
  padding-top: 10px;/* Negative margin to counteract column padding */
}

.column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box; 
}

.left-column {
  flex: 1;
  max-width: 40%;
  margin-left: -10%; 
}

.right-column {
  flex: 1;
  max-width: 60%; 
  text-align: left;
  margin-left: -10%;

}

img {
  max-width: 100%;
  height: auto;
}

/* Clear floats */
.row::after {
  content: "";
  display: table;
  clear: both;
}